<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <!-- Please add the filter feeds to migrate below -->
    <add key="filterFeed1" value="https://api.nuget.org/v3/index.json" />
 </packageSources>
</configuration>
