<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <!-- Please add the target feeds to migrate below -->
    <add key="targetFeed0" value="https://api.nuget.org/v3/index.json"/>
    <add key="targetFeed1" value="{target feed}" />
 </packageSources>

 <disabledPackageSources>
    <add key="targetFeed0" value="true" />
</disabledPackageSources>
</configuration>
